'.source.context-free':
  # converted from Context Free TextMate bundle
  # https://github.com/textmate/context-free.tmbundle
  'Background Directive':
    'prefix': 'b'
    'body': 'background {$1}'
  'Circle Primitive':
    'prefix': 'C'
    'body': 'CIRCLE {$1}'
  'Include Directive':
    'prefix': 'i'
    'body': 'include ${1:${2:file}.cfdg}'
  'Rule Directive':
    'prefix': 'r'
    'body': 'rule ${1:shape} ${2:weight }{\n\t$3\n}'
  'Square Primitive':
    'prefix': 'S'
    'body': 'SQUARE {$1}'
  'Startshape Directive':
    'prefix': 's'
    'body': 'startshape ${1:shape}'
  'Triangle Primitive':
    'prefix': 'T'
    'body': 'TRIANGLE {$1}'

  # converted from Context Free 3 Bundle for TextMate 1.x
  # https://github.com/Royaljerry/cfdg-3-bundle-for-textmate-1-x
  "Background Directive(cfdg3)":
    "prefix": "ba"
    "body": "CF::Background = ${1:«ADJUSTMENT ('col' or 'h', 'sat', 'b', 'a')»}"
  "Circle Primitive(cfdg3)":
    "prefix": "CI"
    "body": "CIRCLE [${1:«ADJUSTMENT»}]"
  "Import Directive(cfdg3)":
    "prefix": "im"
    "body": "import \"${1:${2:«FILE»}.cfdg}\""
  "Shape Directive(cfdg3)":
    "prefix": "sh"
    "body": '''
      shape ${1:«SHAPE NAME»} ${2:(${3:«ARGS»})}
      {
      	${0:«BODY»}
      }
    '''
  "Square Primitive(cfdg3)":
    "prefix": "SQ"
    "body": "SQUARE [${1:«ADJUSTMENT»}]"
  "Startshape Directive(cfdg3)":
    "prefix": "st"
    "body": "startshape ${1:«SHAPE»}"
  "Triangle Primitive(cfdg3)":
    "prefix": "TR"
    "body": "TRIANGLE [${1:«ADJUSTMENT»}]"
